input{
    padding: 10px;
}
ul {
    background-color: #333;
}

li {
    padding: 14px 16px;
    float: left;
}

li a {
    display: block;
    color: darkturquoise;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111;
}

fieldset{
    background-color:grey;
    border: #3499ff;
}
.button {
    padding: 5px 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: black;
    border-radius: 8px;}
body{
    background-color: black;
    color:white;
}
a{
    color:green;
}
a1{
    color:red;
}
strong{
    color:blue;
}